*{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    background-image: url(vimal-s-cPGMrfAuUSg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: brown;
    height: 181vh
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #7B68EE;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #7B68EE
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #8B008B;
    margin-top: 13px;
    color: #FFF;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #4B0082;
    border: 2px solid #4B0082;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
    box-shadow: 0 0 5px #7B68EE;
}

.srch:focus{
    outline: none;
    box-shadow: 0 0 5px #7B68EE;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.content h1{
    font-size: 50px;
    margin-top: 9%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #7B68EE;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
} 
.content .cn a{
    text-decoration: none;
    color: #483D8B;
}
.cn:hover{
    background: #483D8B;
    color: #fff
}
.content span{
    color: #7B68EE;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.content h3 i{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal; 
    margin-top: 9%;
    letter-spacing: 2px;
    font-size: 45px;

}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 380px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #4B0082;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-top: none;
    border-bottom: 1px solid #4B0082;
    border-right: none;
    border-left: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #b99fcb;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    }
    .btnn:hover{
        background: #fff;
        color: #4B0082;
    }
    .btnn a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .form .link{
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .form .link a{
        text-decoration: none;
        color: #4B0082;
    }
    .form .link a:hover{
        color: #b99fcb;
    }
    .liw{
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
    }
    .container {
  display: flex;
  background-color: #4b4545;
  height: 100px ;
}

.container div {
  background-color: #4b4545;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  width: 100%;
  align-items: center;
}